.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.element {
  padding: 10px;
}
.users {
  padding: 20px;
}
.dates{
  justify-content: center;
  padding: 20px;
}
.dateResult{
  text-align: center;
}
