.CalendarDay__selected_span {
  background: #82e0aa;
  color: black;
  border: 3px solid green;
}


.CalendarDay__selected {
  background: darkgreen;
  color: white;
  border: 3px solid green;
}

.CalendarDay__selected:hover {
  background: darkolivegreen;
  border: 3px solid green;
  color: white;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: lime;
  border: 3px solid green;
  color: #fff
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #98F223;
  border: 3px solid green;
}