.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  background: lightblue;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  & .btn-primary {
    color: #fff;
    width: 150px;
    height: 50px;
    border-color: black;
  }
}

.logoBox{
  width: 15%;
  height: 15%;
}

.logoText{
  font-size: x-large;
  text-shadow:
    -1px -1px #FFF,
    -2px -2px #FFF,
    -1px 1px #FFF,
    -2px 2px #FFF,
    1px 1px #FFF,
    2px 2px #FFF,
    1px -1px #FFF,
    2px -2px #FFF,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;
}

.dropDownBox {
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropDownComponent {
  padding: 0 30px;
}

.ButtonLogout {
  width: 80px;
  position: absolute;
  right: 30px;
}
