$blueColor: #4267e7;
$redColor: #ff0000;

.recordBlock {
  position: absolute;
  top: 10px;
  right: 10px;
}

.selectors {
  border: solid 3px $blueColor;
  border-radius: 5px;
  padding: 5px;
}

.field {
  display: table-row;

  &-title {
    display: table-cell;
    width: 100px;
    padding: 2px;

    font-weight: 700;
    color: $blueColor;
  }

  &-element {
    display: table-cell;
    width: 180px;
    padding: 5px;
  }
}

.textarea {
  //display: table-cell;
  padding: 5px;
  width: 280px;
}

.button {
  display: table-row;

  &-clear {

  }

  &-submit {
    display: table-cell;
    position: relative;
    padding: 5px;
  }
}

.icon {
  display: inline-block;
  padding: 2px;

  &-edit {
    color: $blueColor;
    font-size: 20px;
  }

  &-delete {
    color: $redColor;
    font-size: 20px;
    top: 1px;
  }
}
