@import "datepicker";

$blueColor: #4267e7;

.page {
  padding-top: 20px;
}

.table {
  margin: auto;
}

.filterBlock {
  position: absolute;
  top: 85px;
  right: 0px;
  padding: 15px;
}

.filters {
  padding: 0 5px 0 5px;
  border: solid 3px $blueColor;
  border-radius: 5px;
  font-size: 15px;
}

.filterItem {
  display: table-row;
  border : solid 1px;

  &-title {
    display: table-cell;
    width: 100px;
    padding: 5px;

    font-weight: 700;
    color: $blueColor;
  }

  &-clear {
    font-weight: 600;
    color: $blueColor;
  }

  &-checkBox {
    display: table-cell;
  }

  &-dropdown {
    display: table-cell;
    width: 180px;
    //width: 200px;
    padding: 5px;
  }

  &-datePicker {
    display: block;
    width: 320px;
    padding: 5px 0 5px 0;
  }
}

hr {
  margin: 0px;
}

.DateInput_input {
  @extend .DateInput_input;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
